@import 'imports/imports';

@import 'setting';
@import 'basic';
@import 'layout';

#resume{
  padding-top: 20px;
}

.resume-item{
  li{
    list-style: square outside none;
    margin-top: 10px;
  }
}